{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="card shadow-lg p-4">
        <h2 class="text-center">HR Login</h2>
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}
